# Can we overlay snow depth with avalanche activity? Maybe at a specific site or path?

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

avyobs= pd.read_pickle('../data-prep/pkl/avy_obs.pkl')
weather = pd.read_pickle('../data-prep/pkl/all_wx.pkl')

In [2]:
pd.set_option('display.max_columns', None)
avyobs

,avpathid,avobsdate,avobstime,avobserverid,avtype,avtriggertyp,avtrigger,avrelativesize,avdestructivesize,avinterface,sz_vert,sz_horiz,sz_avgslope,sz_elev_m,sz_aspect,term_elev_m,av_vert_m,crown_width_m,ch_max_cm,ch_min_cm,ch_diff_cm,term_longpath,term_shortPath,term_detail,term_moist,deb_rail,deb_rail_w,deb_rail_d,deb_hwy,deb_hwy_w,deb_hwy_d,avcomment,edcr_user,edcr_time,edcr_ip,eded_user,eded_time,eded_ip
avrid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,SHED10,2012-03-26,12:45:00,stein_01,WS,5.0,NL,R1,D1.5,O,B,R,0,0,NaN,0,0,0,0,0,0,TK,NaN,NaN,NaN,False,0.0,0.0,False,0.0,0.0,Wet slab released on SE aspect @ 5400 feet (16...,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
2,PATH1163,2012-03-16,08:30:00,stein_01,U,5.0,NU,U,D2,U,U,U,0,0,NaN,0,0,0,0,0,0,TK,NaN,NaN,NaN,False,0.0,0.0,False,0.0,0.0,Wet debris ran 2/3 path in main path to 4700 f...,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
3,CURLY,2012-03-16,08:34:00,stein_01,U,5.0,NU,U,D1,U,U,U,0,0,NaN,0,0,0,0,0,0,TR,NaN,NaN,NaN,False,0.0,0.0,False,0.0,0.0,Terminus at canyon floor elevation.\r\n\r\nDeb...,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
4,SHED10,2012-03-10,14:50:00,stein_01,WL,5.0,NaN,R2,D1,I,M,R,0,0,NaN,0,0,0,0,0,0,TK,NaN,NaN,NaN,False,0.0,0.0,False,0.0,0.0,D1.5,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
5,INFINITY,2012-03-10,14:54:00,stein_01,L,5.0,N,R2,D1,I,T,C,0,0,NaN,0,0,0,0,0,0,TK,NaN,NaN,NaN,False,0.0,0.0,False,0.0,0.0,D1.5- 1/2 Path.,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,SHED07W,2022-03-01,05:04:00,clark_01,SS,5.0,NC,R2,D2,I,T,L,38,2015,E,1760,255,0,0,0,0,TK,-,U,U,False,0.0,0.0,False,0.0,0.0,Slab not observed until March 17th during a sk...,Adam,2022-03-17 21:17:04,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
505,AP1163H,2022-03-23,13:30:00,clark_01,WL,5.0,NU,R1,D1.5,O,T,U,0,1830,SW,1460,370,0,0,0,0,TR,-,U,W,False,0.0,0.0,False,0.0,0.0,NaN,Adam,2022-03-23 21:32:42,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
506,SHED10,2022-03-23,13:30:00,clark_01,WL,5.0,N,R2,D2,O,T,C,40,2075,SE,1646,429,0,0,0,0,TK,-,U,W,False,0.0,0.0,False,0.0,0.0,Obs on Mar. 24th from Hwy,Adam,2022-03-28 16:30:35,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
507,MCAMSER,2022-03-23,18:00:00,clark_01,HS,5.0,NC,R3,D3,O,T,C,40,2195,SE,1790,405,245,150,40,95,MR,-,U,U,False,0.0,0.0,False,0.0,0.0,Obs on Mar. 24th from Hwy. Could not see runou...,Adam,2022-03-28 16:34:43,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
508,PATH1163,2022-03-27,14:35:00,clark_01,WL,5.0,N,R1,D2,O,T,L,40,2135,SE,1400,735,0,0,0,0,MR,-,U,W,False,0.0,0.0,False,0.0,0.0,Obs. on Mar. 28th from Hwy.,Adam,2022-03-28 16:37:03,10.30.72.4,NaN,0000-00-00 00:00:00,NaN

In [3]:
pd.set_option('display.max_columns', None)
weather

,dt,temp,dew_pt,rH,heat_idx,wind_chill,wind_dir,wind_spd,hr_precip,snow_depth,snowfall_3hr,snowfall_6hr,snowfall_24hr,site,file_name,year,sea_lvl_press,sta_press,altimeter_setting,solar_radiation,pct_possible
0,2022-12-23 04:00:00,-25.0,-31.0,72.0,NaN,NaN,ESE,1G4,0.0,12.6,0.1,0.1,0.3,JVEMT,JVEMT-2022.html,2022,NaN,NaN,NaN,NaN,NaN
1,2022-12-23 03:00:00,-26.0,-32.0,72.0,NaN,NaN,ESE,1G3,0.0,12.6,0.1,0.1,0.4,JVEMT,JVEMT-2022.html,2022,NaN,NaN,NaN,NaN,NaN
2,2022-12-23 02:00:00,-27.0,-33.0,71.0,NaN,NaN,ESE,1G4,0.0,12.5,0.1,0.0,0.3,JVEMT,JVEMT-2022.html,2022,NaN,NaN,NaN,NaN,NaN
3,2022-12-23 01:00:00,-28.0,-34.0,72.0,NaN,NaN,ESE,2G5,0.0,12.5,0.0,0.0,0.2,JVEMT,JVEMT-2022.html,2022,NaN,NaN,NaN,NaN,NaN
4,2022-12-23 00:00:00,-29.0,-35.0,71.0,NaN,NaN,ESE,2G4,0.0,12.5,0.0,0.0,0.2,JVEMT,JVEMT-2022.html,2022,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203968,2022-01-01 04:00:00,-4.0,NaN,NaN,NaN,-26.0,S,18G31,NaN,40.8,0.1,0.0,NaN,MRPMT,MRPMT-2022.html,2022,NaN,24.60,29.82,NaN,NaN
203969,2022-01-01 03:00:00,-5.0,NaN,NaN,NaN,-26.0,S,15G21,NaN,41.5,0.5,0.3,NaN,MRPMT,MRPMT-2022.html,2022,NaN,24.59,29.81,NaN,NaN
203970,2022-01-01 02:00:00,-3.0,NaN,NaN,NaN,-23.0,SSW,15G25,NaN,40.9,0.0,0.4,NaN,MRPMT,MRPMT-2022.html,2022,NaN,24.59,29.81,NaN,NaN
203971,2022-01-01 01:00:00,-4.0,NaN,NaN,NaN,-22.0,SW,12G19,NaN,40.7,0.0,1.0,NaN,MRPMT,MRPMT-2022.html,2022,NaN,24.57,29.79,NaN,NaN
203972,2022-01-01 00:00:00,-7.0,NaN,NaN,NaN,-26.0,SSW,12G20,NaN,41.0,0.0,2.0,NaN,MRPMT,MRPMT-2022.html,2022,NaN,24.57,29.79,NaN,NaN

In [5]:
avywx = pd.DataFrame()

In [7]:
avywx["avpathid"] = avyobs["avpathid"]
avywx["deb_rail"] = avyobs["deb_rail"]
avywx["deb_hwy"] = avyobs["deb_hwy"]
avywx["snow_depth"] = weather["snow_depth"]
avywx["dt"] = weather["dt"]
avywx

       avpathid  deb_rail  deb_hwy  snow_depth                  dt
avrid
1        SHED10     False    False        12.6 2022-12-23 03:00:00
2      PATH1163     False    False        12.5 2022-12-23 02:00:00
3         CURLY     False    False        12.5 2022-12-23 01:00:00
4        SHED10     False    False        12.5 2022-12-23 00:00:00
5      INFINITY     False    False        12.4 2022-12-22 23:00:00
...         ...       ...      ...         ...                 ...
504     SHED07W     False    False        19.8 2022-12-02 04:00:00
505     AP1163H     False    False        19.8 2022-12-02 03:00:00
506      SHED10     False    False        19.4 2022-12-02 02:00:00
507     MCAMSER     False    False        18.6 2022-12-02 01:00:00
508    PATH1163     False    False        18.3 2022-12-02 00:00:00

[491 rows x 5 columns]

In [10]:
weather['month'] = pd.DatetimeIndex(weather['dt']).month
avywx['month'] = pd.DatetimeIndex(weather['dt']).month
#avywx['year'] = pd.DatetimeIndex(weather['dt']).year
#avywx['month_year'] = pd.to_datetime(weather['dt']).dt.to_period('M')
#avywx

ValueError: Length of values (203973) does not match length of index (491)