In [2]:
import pandas as pd
import pandas_profiling

avy_obs = pd.read_pickle('pkl/avy_obs.pkl')
avy_obs

,avrid,avpathid,avobsdate,avobstime,avobserverid,avtype,avtriggertyp,avtrigger,avrelativesize,avdestructivesize,...,deb_hwy,deb_hwy_w,deb_hwy_d,avcomment,edcr_user,edcr_time,edcr_ip,eded_user,eded_time,eded_ip
0,1,SHED10,2012-03-26,12:45:00,stein_01,WS,5.0,NL,R1,D1.5,...,False,0.0,0.0,Wet slab released on SE aspect @ 5400 feet (16...,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
1,2,PATH1163,2012-03-16,08:30:00,stein_01,U,5.0,NU,U,D2,...,False,0.0,0.0,Wet debris ran 2/3 path in main path to 4700 f...,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
2,3,CURLY,2012-03-16,08:34:00,stein_01,U,5.0,NU,U,D1,...,False,0.0,0.0,Terminus at canyon floor elevation.\r\n\r\nDeb...,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
3,4,SHED10,2012-03-10,14:50:00,stein_01,WL,5.0,NaN,R2,D1,...,False,0.0,0.0,D1.5,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
4,5,INFINITY,2012-03-10,14:54:00,stein_01,L,5.0,N,R2,D1,...,False,0.0,0.0,D1.5- 1/2 Path.,ed,2016-03-17 11:50:56,10.173.132.2,NaN,0000-00-00 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,504,SHED07W,2022-03-01,05:04:00,clark_01,SS,5.0,NC,R2,D2,...,False,0.0,0.0,Slab not observed until March 17th during a sk...,Adam,2022-03-17 21:17:04,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
487,505,AP1163H,2022-03-23,13:30:00,clark_01,WL,5.0,NU,R1,D1.5,...,False,0.0,0.0,NaN,Adam,2022-03-23 21:32:42,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
488,506,SHED10,2022-03-23,13:30:00,clark_01,WL,5.0,N,R2,D2,...,False,0.0,0.0,Obs on Mar. 24th from Hwy,Adam,2022-03-28 16:30:35,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
489,507,MCAMSER,2022-03-23,18:00:00,clark_01,HS,5.0,NC,R3,D3,...,False,0.0,0.0,Obs on Mar. 24th from Hwy. Could not see runou...,Adam,2022-03-28 16:34:43,10.30.72.4,NaN,0000-00-00 00:00:00,NaN
490,508,PATH1163,2022-03-27,14:35:00,clark_01,WL,5.0,N,R1,D2,...,False,0.0,0.0,Obs. on Mar. 28th from Hwy.,Adam,2022-03-28 16:37:03,10.30.72.4,NaN,0000-00-00 00:00:00,NaN

In [4]:
profile = avy_obs.profile_report(title = 'Avalanche Observations Profiling')
profile.to_file(output_file='data-profiles/avy_obs-profile.html')

Summarize dataset:   0%|          | 0/53 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]