In [1]:
import pandas as pd
import pandas_profiling

rads = pd.read_pickle('pkl/rads.pkl')
rads

                Time  Score  Level
Date
12/14/2006  00:00:00    NaN      1
12/15/2006  00:00:00    NaN      1
12/21/2006  00:00:00    NaN      1
12/27/2006  00:00:00    NaN      1
1/3/2007    00:00:00    NaN      2
...              ...    ...    ...
3/21/2022   00:00:00   27.0      1
3/23/2022   00:00:00   41.0      1
3/29/2022   00:00:00   30.0      1
4/4/2022    00:00:00   36.0      1
4/13/2022   00:00:00   20.0      1

[794 rows x 3 columns]

In [2]:
profile = rads.profile_report(title = 'Railway Avalanche Danger Scale Profiling')
profile.to_file(output_file='data-profiles/rads-profile.html')

Summarize dataset:   0%|          | 0/18 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]